extends layout

block body
     .dashboard
      .row
        #nav-container.col-lg-2
         include leftnavigation.jade
        #data-container.col-lg-10
          .well-nm
            .container
              .adduser.well-nm
                form.bs-example.form-horizontal(method='post', action='')
                  fieldset
                    legend  Requisition Profile
                    .form-group
                      label.col-lg-1.control-label(for='reqtitle') Requisition Job Title
                      .col-lg-4
                        input#xxx.form-control(name='reqtitle', type='text', placeholder="Enter Req Title", value=reqtitle)
                    .form-group
                      label.col-lg-1.control-label(for='reqnumber') Requisition number
                      .col-lg-4
                        input#xxx.form-control(name='reqnumber', type='text', placeholder="Enter Req Number", value=reqnumber)
                    .form-group
                      label.col-lg-1.control-label(for='recruiter') Recruiter Name
                      .col-lg-4
                        input#xxx.form-control(name='recruiter', type='text', placeholder="Enter Recruiter name", value=recruiter)
                    .form-group
                      label.col-lg-1.control-label(for='applname') Applicant First Name
                      .col-lg-4
                        input#xxx.form-control(name='applname', type='text', placeholder="Applicant name", value=applname)
                    .form-group
                      label.col-lg-1.control-label(for='applemail') Applicant E-mail
                      .col-lg-4
                        input#xxx.form-control(name='applemail', type='email', placeholder="Applicant Email", value=applemail)
                    .form-group
                      .col-lg-10.col-lg-offset-2
                        input.btn.btn-success(type='submit', name='action', value='Save')

